<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="user">
    <p th:text="${error}" th:if="${error != null}"></p>
    <label> UserName: <input type="text" name="username"  id="username" th:value="${username}"/></label>
    <label> Email: <input type="email" name="email"  id="email" th:value="${email}"/></label>
    <label> Password: <input type="password" name="password"  id="password"/></label>
    <label> Verify Password: <input type="password" name="verify password"  id="verify password"/></label>
    <input type="Submit" value="Submit Me!"/>

</form>

</body>
</html>