body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.nail-polish-box {
 height: 100px;
 width: 100px;
 background-color: #000;

}

.red-polish {
background-color: #000;
}

.green-polish {
background-color: #000
}

.blue-polish {
background-color: #000
}

