<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <!--Add a p tag and use th:text to bring in the value of name, skintype,
    manipedi-->
    <p th:text = "${name}"></p>
    <p th:text = "${skintype}"></p>
    <p th:text = "${manipedi}"></p>


</div>
<div id = "servicesMenu">

    <!--build a table-->
    <table>
        <tr><thead>Appropriate Facials</thead></tr>

           <th:block th:each="fac : ${appropriateFacials}">
               <tr>
                <td th:text="${fac}"></td>
               </tr>
           </th:block>
    </table>

    <!--if statement   -->
    <th:block th:if="${manipedi} == 'manicure' or ${manipedi} == 'both'">
        <h3>Manicure</h3>
        <p th:replace="fragments :: manicureDescription"> </p>
    </th:block>


    <th:block th:if="${manipedi} == 'pedicure' or ${manipedi} == 'both'">
        <h3>Pedicure</h3>
        <p th:replace="fragments :: pedicureDescription"> </p>
    </th:block>

</div>
<footer>
    <div class="nail-polish-box red-polish"></div>
    <div class="nail-polish-box green polish"></div>
    <div class="nail-polish-box blue-polish"></div>
</footer>

</body>
</html>